<!DOCTYPE html>
<html>
<head>
	<title>Lab - Multimedia Programming 2563 ITKMITL</title>
	<link rel="stylesheet" type="text/css" href="../src/reset.css">
	<link rel="stylesheet" type="text/css" href="lab.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id="canvas">
		<section id="canvas_header">
			<div>
				Point : {{score}}
			</div>
		</section>
		<section id="canvas_main" 
		:data-play="play">
			<main>
				<div class="box _path" 
				v-for="i in 14" 
				:data-pst="i"></div>
				<div class="box _toggle" :data-pst="10" :data-isrightarrow="isRightArrow"></div> 
				<div class="box _fruit" v-for="i in fruits"
				:data-pst="i.pst" :data-type="i.type"></div>

				<div class="box _origin"></div>
				<div class="box _12" data-pst="12"></div>
				<div class="box _16" data-pst="16"></div>
				
			</main>
		</section>
		<section id="canvas_footer">
			<div v-if="play" class="btn" id="toggle" @click="change()">
				Toggle
			</div>
			<div v-if="!play" class="btn" id="endgame">
				End Game
			</div>
		</section>
	</div>

	<script>
		function rand(start,stop){
			let shift = (stop-start)+1
			return Math.floor(Math.random()*100%shift)+start
		}
		
		let fruitCount = 3
		let isRightArrow = 1
		let app = new Vue({
			el:'#canvas',
			data:{
				isRightArrow: isRightArrow,
				speed: 1000,
				play:true,
				turn:0,
				score:0,
				fruits:[
					{id:1,type:13,pst:6,run:true,step:1},
					{id:2,type:11,pst:3,run:true,step:1},
				]
			},
			methods:{
				change: function(){
					if(this.isRightArrow == 1){
						this.isRightArrow = 0
					}else{
						this.isRightArrow = 1
					}
					console.log(this.isRightArrow)
				},
			},
			computed:{},
			watch:{
				turn: function(){
					for(let i in this.fruits){
						//ปุ่มtoggle
						if (this.fruits[i].pst == 10){
							if(this.isRightArrow == 1){
								this.fruits[i].step = 3 //เดิน3step
							}else{
								this.fruits[i].step = 1
							}
						}

						//คิดคะแนน
						if (this.fruits[i].pst == 11 || this.fruits[i].pst == 13) {
							//เมื่อถูก
							if (this.fruits[i].pst == this.fruits[i].type && this.fruits[i].run) {
								this.score ++
							}
							//เมื่อผิด
							else if (this.fruits[i].pst != this.fruits[i].type && this.fruits[i].run) {
								this.play = false //จบเกม
							}
						}

						//หยุดเขยับเมื่อถึงจุด
						if (this.fruits[i].pst == 12 || this.fruits[i].pst == 16) {
							this.fruits[i].run = false
						}

						//การขยับของfruit
						let run = this.fruits[i].run
						if (run) {
							this.fruits[i].pst = this.fruits[i].pst + this.fruits[i].step //ขยับตาม step
						}

					}
					//สร้างfruitใหม่
					let spawn = rand(0,1)
					if(spawn == 1){
						newfruit = rand(0,1)
						newfruitId = 3
						if(newfruit == 1){
							this.fruits.push({id:newfruitId,type:11,pst:1,run:true,step:1})
						}else{
							this.fruits.push({id:newfruitId,type:13,pst:1,run:true,step:1})
						}
						newfruitId++;
					}
					//เพิ่มความเร็วเมื่อถึงระยะหนึ่ง
					if (app.turn>15) {
						app.speed = 850
					}
					if (app.turn>30) {
						app.speed = 650
					}
					if (app.turn>60) {
						app.speed = 450
					}
					if (app.turn>100) {
						app.speed = 250
					}
				}
			}
		})

		//timespeed
		setTimeout(function timespeed(){
			if (app.play) {
				app.turn++
				setTimeout(timespeed, app.speed)
			}
		},app.speed)
	</script>
</body>
</html>
