#app {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(231, 151, 247, 0.3);
    padding: 10px;
    width: 45%;
    border-radius: 5px;
}

.paper {
    background-color: pink;
}

#firstbox {
    margin: 10px;
}

#secondbox {
    margin: 10px;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
}